*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Apple SD Gothic Neo, Noto Sans KR, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

* {
    font-family: "Circular Std", "Noto Sans KR";
    letter-spacing: -0.05em;
}